body{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    background-color: #2B2D38;
}
.container{
    padding-left: 5%;
    padding-right: 5%;
}
header{
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
}
header>nav{
    margin-left: auto;
}
header>nav>ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
header>nav a{
    color: #ABABAB;
    text-decoration: none;
}
.home{
    color: #FFFFFF;
}
.home::after{
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin-top: 5px;
    background-color: #DB2A6B;
}
h1{
    font-family: 'Merriweather', serif;
    color: #FFFFFF;
    line-height: 60px;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0;
}
h1+p{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 50%;
}
.button{
    color: #FFFFFF;
    background-color: #DB2A6B;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}
.button+a{
    color: #FFFFFF;
    margin-left: 30px;
}
main{
    display: flex;
    gap: 10px;
}
.images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}
.images>img{
    width: 200px;
}
.images>img:first-of-type{
    grid-row: 1 /span 2;
}
.images>img:nth-last-of-type(3){
    grid-column: 3 /span 1;
    grid-row: 1 /span 3;
    align-self: center;
}
.images>img:nth-of-type(4){
    grid-row: 3 /span 1;
    grid-column: 1 /span 1;
}
.images>img:last-of-type{
    grid-column: 2 /span 1;
    grid-row: 2 /span 2;
}
.info{
    display: flex;
    gap: 10px;
    margin-top: 100px;
}
.info>article{
    display: flex;
    gap: 10px;
}
.info>article>p{
    width: 60%;
    font-weight:bold;
}
.info>article>img{
    width: 50px;
}