@import 'variables';
@import 'mixins';
@import 'header';
@import 'intro';
@import 'footer';
@import 'linkproyects';
@import 'skills';
@import 'contact';
@import 'experience';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
  background-color: $back_header;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  line-height: 1.2;
}

html {
  scroll-behavior: smooth;
}