$back_header: #A6B1E1;    // Header
$back_present: #DCD6F7;   // Intro / Presentación
$skills: #D6E5E3;         // Skills / Proyectos
$border_skills: #CACFD6;  // Bordes y separación
$header_text: #000100;

$hover: #424874;           // Hover / Marian Blue
$text_main: #424874;       // Texto principal
$text_secondary: #424874;  // Texto secundario (puede ser el mismo)
$card_bg: #FFFFFF;          // Fondo de tarjetas
$card_border: #CACFD6;      // Borde de tarjetas
$section_bg: #F8F8FF;       // Fondo secciones secundarias (contacto)

// Paleta de colores 1
//--marian-blue: #424874ff;
// --periwinkle: #dcd6f7ff;
// --periwinkle-2: #a6b1e1ff;
// --french-gray: #cacfd6ff;
// --azure-web: #d6e5e3ff;

// Paleta de colores 2
// --black: #000100ff;
// --cadet-gray: #a1a6b4ff;
// --light-blue: #94c5ccff;
// --columbia-blue: #b4d2e7ff;
// --seasalt: #f8f8f8ff;