body {
  background-image: url(../img/fondo1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  background-color: rgba(0, 0, 0, 0.1215686275);
}

button {
  --b: 3px;
  --s: .45em;
  --color: #000000dc;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}

button:hover {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

#ganador {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-size: large;
  margin: 5px auto;
}

#tablero {
  display: grid;
  margin: 0 auto;
  margin-top: 5%;
  grid-gap: 10px;
  background-color: transparent;
  color: #444;
  max-width: 500px;
}
#tablero > div {
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}
#tablero > div[data-libre=""]:hover {
  background-color: #183753;
  cursor: pointer;
  color: white;
}
#tablero > div[data-libre=X] {
  color: red;
}
#tablero > div[data-libre=O] {
  color: green;
}
#tablero > div[data-libre=X], #tablero > div[data-libre=O], #tablero > div[data-libre="-"] {
  cursor: not-allowed;
}

#dimension.error:focus {
  border-color: red;
  outline-color: red;
}

.back {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.back > p {
  margin-bottom: 0;
  font-weight: bold;
}
.back .options {
  display: flex;
  gap: 20px;
}
.back .options p {
  padding: 10px;
  --c: #358d89; /* the color*/
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%, var(--_g) calc(200% - var(--_p, 0%)) 0%, var(--_g) calc(var(--_p, 0%) - 100%) 100%, var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
.back .options p:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}

[id^=option] {
  cursor: pointer;
}

h1 {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
}

.preGame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  margin: 50px auto;
}
.preGame.hide {
  display: none;
}
.preGame #createTable {
  margin-top: 10px;
}

.inGame {
  display: block;
  position: absolute;
  top: 50px;
}
.inGame.hide {
  display: none;
}

.clearGame {
  display: none;
  margin-top: 20px;
}
.clearGame.show {
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */